/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
}

a:visited {
  color: #494f60;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
  word-break: keep-all;
  word-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  font-family: inherit;
}

@font-face {
  font-family: "OneShinhanMedium";
  src: url("/assets/fonts/OneShinhanMedium.woff") format("woff");
}
html {
  font-size: 10px;
}

body {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

.wrap {
  position: relative;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 50;
}
.header .header-top {
  position: relative;
  display: none;
  height: 56px;
  background: #fff;
  padding: 0 40px;
}
@media (min-width: 1024px) {
  .header .header-top {
    display: block;
  }
}
.header .header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.header .header-top__left {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 1.7;
}
.header .header-top__utility {
  position: relative;
  display: flex;
}
.header .header-top__utility-item {
  position: relative;
  color: #494f60;
  font-size: 14px;
  padding: 8px 13px 8px 12px;
  cursor: pointer;
  text-align: center;
}
.header .header-top__utility-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 9px;
  width: 1px;
  height: 12px;
  background: #ddd;
}
.header .header-top__dropdown {
  position: relative;
  padding: 8px 13px 8px 12px;
}
.header .dropdown__button {
  border: 0;
  background: transparent;
  font-size: 14px;
  color: #494f60;
  cursor: pointer;
}
.header .dropdown__arrow {
  width: 16px;
  height: 16px;
}
.header .dropdown__menu {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 51;
  width: 188px;
  border: 1px solid #666;
  background: #fff;
}
.header .dropdown__menu-list {
  display: flex;
  flex-wrap: wrap;
}
.header .dropdown__menu-item {
  font-size: 1.3rem;
  color: #111;
  padding: 5px;
}
.header .dropdown__close-button {
  position: absolute;
  right: 11px;
  top: 19px;
  width: 15px;
  height: 15px;
  background: url("../../assets/images/top_dropdown_up.png") no-repeat 50% 50%;
  border: 0;
}
.header .header-top__right {
  position: relative;
  display: block;
  color: #323b50;
}
.header .header-top__user-menu {
  display: flex;
}
.header .user-menu__item {
  font-size: 13px;
  color: #323b50;
  padding: 0 10px;
}
.header .user-menu__item:not(:first-child)::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 4px;
  width: 1px;
  height: 12px;
  background-color: #ddd;
}
.header .header-bottom {
  position: relative;
  display: block;
  height: 102px;
  padding: 0 40px;
}
@media (min-width: 768px) {
  .header .header-bottom {
    height: 98px;
  }
}
@media (min-width: 1024px) {
  .header .header-bottom {
    height: 74px;
  }
}
.header .header-logo__image {
  width: 160px;
  height: 40px;
}
@media (min-width: 768px) {
  .header .header-logo__image {
    width: 142px;
    height: 40px;
  }
}
@media (min-width: 1024px) {
  .header .header-logo__image {
    width: 140px;
    height: 40px;
  }
}
.header .header-bottom__middle {
  position: absolute;
  left: 0;
  top: 50px;
  display: block;
}
@media (min-width: 1024px) {
  .header .header-bottom__middle {
    position: static;
  }
}
.header .gnb-navbar {
  position: relative;
  display: flex;
}
.header .navbar-menu__item {
  padding: 0 15px;
  font-family: "OneShinhanMedium";
  font-size: 14px;
  font-weight: 500;
  color: #222;
  word-break: break-word;
}
@media (min-width: 768px) {
  .header .navbar-menu__item {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .header .navbar-menu__item {
    font-size: 20px;
  }
}
.header .navbar-menu__item-link {
  color: inherit;
}
.header .navbar-menu__item-link:visited {
  color: #222;
}
.header .menu__depth2 {
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  z-index: 10;
  width: 100%;
  height: 500px;
  border-top: 5px solid #f4f7fc;
  background: #fff;
}
.header .depth2-title__box {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.header .depth2-title__text {
  font-size: 16px;
  color: #222;
}
.header .depth2-title__text::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background: url("/assets/images/arr-60-r-a.png") center no-repeat 100% auto;
}
.header .depth2-menu__content {
  position: relative;
  display: flex;
  padding-bottom: 60px;
}
.header .depth2-menu__lists {
  position: relative;
  display: block;
}
.header .depth2-menu__list-title {
  font-size: 16px;
  margin-bottom: 10px;
}
.header .depth2-menu__item {
  font-size: 14px;
}
.header .menu-button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.header .menu-button__icon {
  width: 24px;
  height: 24px;
}
@media (min-width: 1024px) {
  .header .menu-button__icon {
    width: 32px;
    height: 32px;
  }
}
.header .header-bottom__right {
  position: absolute;
  top: 13px;
  right: 20px;
  display: flex;
}
@media (min-width: 1024px) {
  .header .bottom__right-loginwrap {
    display: none;
  }
}
.header .bottom__right-loginbtn {
  height: 24px;
  padding: 0 8px;
  line-height: 22px;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fff;
}
.header .bottom__right-menu-all {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  z-index: 55;
  width: 100%;
  height: 100%;
  background: #fff;
}
.header .hide {
  display: none;
}

.main {
  position: relative;
  display: block;
  margin-top: 130px;
  background: url("/assets/images/main_bg_pc.png") center center repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.main__row {
  width: 100%;
  height: 100%;
}

.main-search {
  position: relative;
  display: block;
  width: 100%;
  height: 120px;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .main-search {
    width: 700px;
  }
}

.main-search__form {
  padding: 15px;
}

.main-search__input {
  width: 100%;
  height: 64px;
  border: 2px solid #486eff;
  border-radius: 8px;
  box-shadow: 1px 1px 13px 0px rgba(113, 121, 149, 0.4);
  background: #fff;
  font-size: 20px;
  color: #999;
  background: url("/assets/images/ico-72-src2.png") no-repeat calc(100% - 10px) center/32px 32px;
  padding-left: 18px;
}

.main-quickmenu {
  position: relative;
  display: block;
  max-width: 1200px;
  height: 135px;
  margin: 0 auto;
  padding: 184px 0 50px 0;
}

.main-quickmenu__lists {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 12px;
  background: #fff;
  box-shadow: 1px 1px 13px 0px rgba(113, 121, 149, 0.4);
}

.quickmenu__item-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 110px;
  font-size: 16px;
  margin: 0 7px;
}

.quickmenu-icon {
  width: 40px;
}

.quickmenu__item-title {
  padding-top: 20px;
  font-size: 16px;
  line-height: 1.4;
}

.swiper-button-next {
  right: -20px;
  width: 24px;
  height: 24px;
  background: url("../../assets/images/arr1-72-r-a.png") center center no-repeat;
}
@media (min-width: 768px) {
  .swiper-button-next {
    width: 40px;
    height: 40px;
  }
}

.swiper-button-prev {
  left: -20px;
  width: 24px;
  height: 24px;
  background: url("../../assets/images/arr1-72-l-a.png") center center no-repeat;
}
@media (min-width: 768px) {
  .swiper-button-prev {
    width: 40px;
    height: 40px;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}