.main {
  position: relative;
  display: block;
  margin-top: 130px;
}

// Search bar

.main-search {
  position: relative;
  display: block;
  width: 100%;
  height: 120px;
  margin: 0 auto;

  @include responsive(pc) {
    width: 700px;
    padding: 60px 0;
  }
}

.main-search__form {
  border-radius: 8px;
  background-color: #fff;
}

.main-search__input {
  width: 100%;
  height: 64px;
  border: 2px solid #486eff;
  border-radius: 8px;
  box-shadow: 1px 1px 13px 0px rgba(0, 0, 0, 0.15);
  font-size: 2rem;
  color: #999;
  background: url("/assets/images/ico-72-src2.png") no-repeat calc(100% - 10px)
    center / 32px 32px;
  padding-left: 18px;
}

// Recommend card section

.recommend-card-group {
  padding-top: 48px;
  padding-bottom: 60px;

  @include responsive(pc) {
    padding: 70px;
  }
}

.recommend-tabs__wrap {
  position: relative;
}

.recommend-tabs__list {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}

.recommend-tabs__item {
  color: #888;
  font-size: 2.2rem;
}

.recommend-tabs__link {
  position: relative;
  display: block;
  padding: 0 20px;
}

.recommend-tab__content-wrap {
  position: relative;
  margin-top: 45px;
}

.recommend-tab__content {
  position: relative;
  display: none;
  margin: -20px 0px 0px;
  padding: 20px 24px 0px;
}

.recommend__tabs__item--active {
  display: block;
  color: #000;
}

.recommend-tab__content__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.recommend-tab__content-item {
  width: auto;
  margin-right: 30px;
}

.recommend-tab__content__list:nth-child(5) {
  margin-right: 0;
}

.recommend-tab__content__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 84px;
  height: 133px;

  @include responsive(tablet) {
    width: 160px;
    height: 255px;
  }

  @include responsive(pc) {
    width: 175px;
    height: 100%;
  }
}

.recommend-tab__content-card {
  position: relative;
  width: 133px;
  height: 84px;
  margin: 0 auto;

  @include responsive(tablet) {
    width: 255px;
    height: 160px;
  }

  @include responsive(pc) {
    width: 175px;
    height: 278px;
  }
}

.recommend-tab__content-img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84px;
  height: 133px;
  background: center center no-repeat;
  background-size: 100% auto;
  transform: translate(-50%, -50%) rotate(90deg);

  @include responsive(tablet) {
    width: 160px;
    height: 255px;
  }

  @include responsive(pc) {
    width: 278px;
    height: 175px;
  }
}

.recommend-tab__content-text {
  margin-top: 18px;
  line-height: 1.35;
  text-align: center;
}

.recommend-tab__content-title {
  font-size: 1.3rem;
  line-height: 1.35;

  @include responsive(pc) {
    font-size: 1.6rem;
  }
}

// swiper-button and controls

.swiper-button-prev,
.swiper-button-next {
  width: 24px;
  height: 24px;

  @include responsive(pc) {
    width: 40px;
    height: 40px;
  }
}

.swiper-button-prev {
  left: -12px;
  background: url("../../assets/images/arr1-72-l-a.png") center center no-repeat;
  background-size: 100% auto;

  @include responsive(pc) {
    left: -20px;
  }
}

.swiper-button-next {
  right: -12px;
  background: url("../../assets/images/arr1-72-r-a.png") center center no-repeat;
  background-size: 100% auto;

  @include responsive(pc) {
    right: -20px;
  }
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-controls {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 0;
  text-align: center;

  @include responsive(pc) {
    margin: 20px 0;
  }
}

.swiper-pagination {
  top: -6px !important;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
  opacity: 1;
  transform-origin: left;
}

.swiper-pagination-bullet-active {
  width: 16px;
  height: 6px;
  background: #383b5a;
  border-radius: 3px;
}

// Promotion section
.promotion-group {
  position: relative;
  display: block;
  padding: 60px 0;
  border-bottom: 12px solid #eee;

  @include responsive(pc) {
    padding: 0 40px;
    border-bottom: 0;
  }
}

.promotion-group::after {
  display: none;

  @include responsive(pc) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    max-width: 1200px;
    width: 100%;
    height: 1px;
    transform: translateX(-50%);
    background: #eee;
  }
}

.promotion__wrap {
  position: relative;
}

.promotion__wrap .swiper-button-prev {
  left: 0;
}

.promotion {
  margin: 0 20px;
}

.promotion-group__row {
  width: 100%;
  height: 100%;
  padding: 60px 0;
}

.promotion__list {
  margin: 0 auto;
}

.promotion__item {
  width: 70%;
  height: 140px;
  padding-right: 30px;
  background: #f9f9f9;
  border-radius: 8px;

  @include responsive(pc) {
    width: 100%;
    height: 170px;
    padding: 0 30px;
    border-radius: 12px;
  }
}

.promotion__img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 130px;
  height: 130px;
  background: center center no-repeat;
  background-size: 100% auto;

  @include responsive(pc) {
    right: -30px;
    width: 140px;
    height: 140px;
    background: center center no-repeat;
    background-size: 100% auto;
  }
}

.promotion__desc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.4;

  @include responsive(tablet) {
    font-size: 1.8rem;
  }

  @include responsive(pc) {
    font-size: 2rem;
  }
}

.swiper-button-play,
.swiper-button-pause {
  width: 20px;
  height: 18px;
  margin-right: 10px;
  background: #f1f1f3 url("../../assets/images/ico-48-control1-a.png") center
    center no-repeat;
  background-size: 16px auto;
  border-radius: 4px;
  cursor: pointer;
}

.swiper-button-pause {
  background: #f1f1f3 url("../../assets/images/ico-48-control1-b.png") center
    center no-repeat;
  background-size: 16px auto;
  border-radius: 4px;
  cursor: pointer;
}

.promotion-swiper__pagination {
  position: static;
  width: auto !important;
}

// Finance section

.finance-group {
  position: relative;
  padding: 60px 0;
  border-bottom: 12px solid #eee;

  @include responsive(pc) {
    border-bottom: none;
  }
}

.finance-group::after {
  display: none;

  @include responsive(pc) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    max-width: 1200px;
    width: 100%;
    height: 1px;
    transform: translateX(-50%);
    background: #eee;
  }
}

.finance__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}

.finance__head {
  width: 100%;
  padding-bottom: 20px;
}

.finance__title {
  font-size: 2rem;
  font-weight: 900;

  @include responsive(pc) {
    font-size: 2.4rem;
  }
}

.finance__head-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4px 0 22px 0;

  @include responsive(pc) {
    justify-content: start;
    padding: 0;
    border-bottom: 0;
  }
}

.finance__subtitle {
  font-size: 1.4rem;
  color: #666;

  @include responsive(pc) {
    font-size: 1.6rem;
  }
}

.finance__subtitle__link {
  font-size: 1.4rem;
  font-weight: 400;

  @include responsive(pc) {
    margin-left: 10px;
    font-size: 1.6rem;
  }
}

.finance__subtitle-more {
  font-weight: 700;
  text-decoration: underline;
}

.finance__subtitle-more-icon {
  width: 16px;
  height: 16px;
}

.finance__contents {
  padding-top: 16px;
}

.finance__contents__list {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include responsive(pc) {
    display: flex;
    flex-direction: row;
  }
}

.finance__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  text-align: center;
  border-top: 1px solid #eee;

  @include responsive(pc) {
    display: block;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 24px;
    margin: 12px 15px;
    border: 1px solid #eee;
    border-radius: 12px;
  }
}

.finance__item__img {
  display: none;

  @include responsive(pc) {
    display: block;
    height: 48px;
    background: center center no-repeat;
    background-size: auto 100%;
  }
}

.finance__item__title {
  font-size: 1.6rem;
  font-weight: 500;

  @include responsive(pc) {
    margin-top: 10px;
    font-size: 1.8rem;
    line-height: 1.4;
  }
}

.br-hide {
  display: none;

  @include responsive(pc) {
    display: block;
  }
}

.finance__button__wrap {
  padding: 0;

  @include responsive(pc) {
    padding: 15px 0px 6px;
  }
}

.finance__item__button {
  width: 90px;
  height: 38px;
  padding: 0px 10px;
  margin: 0px 5px;
  line-height: 38px;
  font-size: 1.4rem;
  color: #fff;
  background: #476eff;
  border-radius: 4px;
}

// Useful group section

.useful-group {
  position: relative;
  padding: 20px 0;
  overflow: hidden;
  padding: 60px 0;
  border-bottom: 12px solid #eee;

  @include responsive(pc) {
    border-bottom: 0;
  }
}

.useful-group::after {
  display: none;

  @include responsive(pc) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    max-width: 1200px;
    width: 100%;
    height: 1px;
    transform: translateX(-50%);
    background: #eee;
  }
}

.useful-group__row {
  width: 100%;
  height: 100%;
}

// Quick menu

.quickmenu__wrap {
  position: relative;
  background: #fff;
}

.quickmenu__swiper {
  position: relative;
  display: block;
  width: 100%;
  height: 190px;

  @include responsive(pc) {
    max-width: 1200px;
    height: 135px;
  }
}

.quickmenu__swiper-wrapper {
  width: 100%;
  height: 100%;
}

.quickmenu__swiper-slide {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 auto;

  @include responsive(pc) {
    padding: 12px 70px;
  }
}

.quickmenu__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 86%;

  @include responsive(pc) {
    flex-wrap: nowrap;
    width: 100%;
  }
}

.quickmenu__item {
  width: 25%;

  @include responsive(pc) {
    width: 120px;
    margin: 0 8px;
  }
}

.quickmenu__item-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.quickmenu__item-icon {
  width: 28px;

  @include responsive(pc) {
    width: 36px;
  }
}

.quickmenu__item-title {
  height: 36px;
  padding-top: 8px;
  font-size: 1.2rem;
  line-height: 1.4;

  @include responsive(pc) {
    height: 40px;
    font-size: 1.6rem;
  }
}

// Notice section
.notice-group {
  position: relative;
  display: block;
  padding: 35px 0px 14px 0px;
  border-bottom: 1px solid #eee;

  @include responsive(pc) {
    border-bottom: 0;
    padding: 60px 0;
  }
}

.notice-group::after {
  display: none;

  @include responsive(pc) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 100%;
    height: 1px;
    transform: translateX(-50%);
    background: #eee;
  }
}

.notice__row {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include responsive(pc) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.notice__wrap {
  position: relative;
  width: 100%;
  height: auto;

  @include responsive(pc) {
    display: block;
    width: 50%;
    padding: 0 40px;
  }
}

.notice-left {
  display: block;
  border-bottom: 1px solid #eee;

  @include responsive(pc) {
    padding-left: 0;
    border-bottom: 0;
  }
}

.notice-right {
  margin-top: 24px;

  @include responsive(pc) {
    margin: 0;
  }
}

.notice__title__link {
  display: flex;
  align-items: center;
  width: 100%;
}

.notice__content__new {
  display: inline-block;
  height: 20px;
  padding: 0px 6px;
  margin-left: 4px;
  font-size: 1.1rem;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
  color: #fc180f;
  background: #ffdde2;
}

.notice__title {
  font-size: 1.8rem;
  font-weight: 900;

  @include responsive(pc) {
    font-size: 2.2rem;
  }
}

.notice__title-icon {
  width: 22px;
  height: 22px;

  @include responsive(pc) {
    width: 28px;
    height: 28px;
  }
}

.notice__contents {
  padding: 14px 0px;

  @include responsive(pc) {
    margin-top: 30px;
    padding: 0;
  }
}

.notice__content__item {
  display: flex;
  align-items: center;
  height: 42px;
  font-size: 1.4rem;

  @include responsive(pc) {
    height: 46px;
    font-size: 1.6rem;
  }
}

.notice__content__link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice-left::after {
  display: none;

  @include responsive(pc) {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: #eee;
  }
}
