.main {
  position: relative;
  display: block;
  margin-top: 130px;
  background: url("/assets/images/main_bg_pc.png") center center repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.main__row {
  width: 100%;
  height: 100%;
}

// Search box

.main-search {
  position: relative;
  display: block;
  width: 100%;
  height: 120px;
  margin: 0 auto;

  @include responsive(pc) {
    width: 700px;
  }
}

.main-search__form {
  padding: 15px;
}

.main-search__input {
  width: 100%;
  height: 64px;
  border: 2px solid #486eff;
  border-radius: 8px;
  box-shadow: 1px 1px 13px 0px rgba(113, 121, 149, 0.4);
  background: #fff;
  font-size: 20px;
  color: #999;
  background: url("/assets/images/ico-72-src2.png") no-repeat calc(100% - 10px)
    center / 32px 32px;
  padding-left: 18px;
}

// Quick menu

.main-quickmenu__wrap {
  position: relative;
  background: #fff;
  border-radius: 8px;
  box-shadow: 1px 1px 13px 0px rgba(113, 121, 149, 0.4);

  @include responsive(pc) {
    padding: 0 80px;
    border-radius: 12px;
  }
}

.main-quickmenu {
  position: relative;
  display: block;
  max-width: 1200px;
  height: 190px;

  @include responsive(pc) {
    height: 135px;
  }
}

.quickmenu__item-box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 110px;
  font-size: 16px;
}

.main-quickmenu__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quickmenu-icon {
  width: 40px;
}

.quickmenu__item-title {
  height: 36px;
  padding-top: 20px;
  font-size: 1.2rem;
  line-height: 1.4;

  @include responsive(pc) {
    height: 58px;
    font-size: 1.6rem;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 24px;
  height: 24px;

  @include responsive(tablet) {
    width: 40px;
    height: 40px;
  }
}

.swiper-button-next {
  right: -20px;
  background: url("../../assets/images/arr1-72-r-a.png") center center no-repeat;
  background-size: 100% auto;
}

.swiper-button-prev {
  left: -20px;
  background: url("../../assets/images/arr1-72-l-a.png") center center no-repeat;
  background-size: 100% auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
