.footer {
  position: relative;
  display: block;
  padding: 25px 0;
}

.footer__row {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 24px;

  @include responsive(pc) {
    padding: 0;
  }
}

.footer__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// footer top

.footer-top__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @include responsive(pc) {
    flex-wrap: nowrap;
    align-items: center;
  }
}

.footer-top__item {
  width: 50%;
  padding: 4px 0px;
  font-size: 1.1rem;

  @include responsive(pc) {
    width: auto;
    margin-left: 40px;
    font-size: 1.3rem;
  }
}

.footer-top__item:first-child {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 900;
  margin-bottom: 5px;

  @include responsive(pc) {
    width: auto;
    font-size: 1.6rem;
    margin: 0 0 2px 0;
  }
}

// footer middle

.footer-middle {
  padding-top: 15px;
  margin-top: 14px;
  border-top: 1px solid #eee;
  overflow: hidden;

  @include responsive(pc) {
    padding-top: 0;
    border-top: 0;
  }
}

.footer-middle__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
  line-height: 1.53;

  @include responsive(pc) {
    font-size: 1.3rem;
  }
}

.footer-middle__item {
  position: relative;
  padding: 4px 9px 4px 12px;
}

.footer-middle__item:first-child {
  padding-left: 0;
}

.footer-middle__item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 12px;
  background: #ddd;
  transform: translateY(-50%);
}

// footer bottom

.footer-bottom {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;

  @include responsive(pc) {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    flex-wrap: nowrap;
  }
}

.footer-bottom__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include responsive(pc) {
    justify-content: flex-start;
  }
}

.footer-bottom__item {
  margin-left: 20px;
}

.footer-bottom__item:first-child {
  margin-left: 0;
}

.footer-bottom__link {
  display: block;
  width: 28px;
  height: 28px;
  overflow: hidden;
  font-size: 1px;
  color: transparent;
  background: center center no-repeat;
  background-size: 100% auto;
}

// footer select group

.footer-bottom__group {
  display: none;

  @include responsive(pc) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer-bottom__button__wrap {
  position: relative;
  width: 160px;
  height: 34px;
}

.footer-bottom__button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 12px;
  font-size: 1.4rem;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #eee;
  cursor: pointer;
}

.footer-bottom__button-arrow {
  position: absolute;
  top: 10px;
  right: 12px;
  width: 6px;
  height: 6px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  transform: rotate(135deg);
  transition: all 0.4s ease-in-out;
}

.footer-bottom__button.toggle-active {
  opacity: 0.5;
}

.footer-bottom__button-arrow.toggle-active {
  top: 14px;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  transform: rotate(-45deg);
  opacity: 0.5;
}

.footer-bottom__button-right {
  margin-left: 18px;
}

.footer-bottom__group__list {
  position: absolute;
  bottom: 35px;
  display: none;
  width: 100%;
  padding: 3px 12px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 2px 6px 28px 0px rgba(0, 0, 0, 0.03);
  font-size: 1.3rem;
}

.footer-bottom__group__item {
  padding: 4px 0px;
  line-height: 18px;
  font-weight: bold;
}

.footer-expand__button-wrap {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.footer-expand__button {
  position: relative;
  width: 12px;
  height: 12px;
  padding: 0;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(135deg);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.footer-expand__button.active {
  transform: rotate(-45deg);
}

// Footer expand

.footer-expand {
  display: none;
  padding: 18px 24px;
  background: #fff;
}

.footer__text {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;

  @include responsive(pc) {
    font-size: 1.2rem;
  }
}

.footer__text-address {
  display: block;
}

.footer__text-registration-number {
  margin-left: 15px;
}

.footer-expand__copyright {
  margin-top: 20px;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  color: #666;

  @include responsive(pc) {
    font-size: 1.2rem;
  }
}

.footer-expand__copyright-br {
  @include responsive(pc) {
    display: none;
  }
}

.footer__awards {
  width: 240px;
  margin: 26px auto 0;
  user-select: none;
}

.footer__award-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer__award-link {
  display: block;
  width: 35px;
  height: 25px;
  margin: 5px 0px;
  overflow: hidden;
  color: transparent;
}

.footer__award-link--01 {
  background: url("/assets/images/footer_icon/smark01.png") center center
    no-repeat;
  background-size: auto 100%;
}

.footer__award-link--02 {
  background: url("/assets/images/footer_icon/smark02.png") center center
    no-repeat;
  background-size: auto 100%;
}

.footer__award-link--03 {
  background: url("/assets/images/footer_icon/smark03.png") center center
    no-repeat;
  background-size: auto 100%;
}

.footer__award-link--04 {
  background: url("/assets/images/footer_icon/smark04.png") center center
    no-repeat;
  background-size: auto 100%;
}

.footer__award-link--05 {
  background: url("/assets/images/footer_icon/smark05.png") center center
    no-repeat;
  background-size: auto 100%;
}

.footer__award-link--06 {
  width: 40px;
  background: url("/assets/images/footer_icon/smark06.png") center center
    no-repeat;
  background-size: auto 100%;
}

.footer__award-link--07 {
  background: url("/assets/images/footer_icon/smark07.png") center center
    no-repeat;
  background-size: auto 100%;
}

.footer__award-link--08 {
  width: 40px;
  background: url("/assets/images/footer_icon/smark08.png") center center
    no-repeat;
  background-size: auto 100%;
}

.footer__award-link--09 {
  width: 70px;
  background: url("/assets/images/footer_icon/smark09.png") center center
    no-repeat;
  background-size: auto 100%;
}
