.header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 50;

  // Header-top

  .header-top {
    position: relative;
    display: none;
    height: 56px;
    padding: 0 40px;
    background: #fff;

    @include responsive(pc) {
      display: block;
    }
  }

  .header__row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .header-top__row {
    justify-content: space-between;
  }

  .header-top__left {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 1.7;
  }

  .header-top__utility {
    position: relative;
    display: flex;
  }

  .header-top__utility-item {
    position: relative;
    padding: 8px 13px 8px 12px;
    cursor: pointer;
  }

  .header-top__utility-item:first-child {
    padding-left: 0;
  }

  .top__utility-item-link {
    color: $gray;
    font-size: 1.4rem;
    text-align: center;
  }

  .header-top__utility-item:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    width: 1px;
    height: 12px;
    background: #ddd;
  }

  .header-top__dropdown {
    position: relative;
    padding: 8px 13px 8px 12px;
  }

  .dropdown__button {
    border: 0;
    background: transparent;
    font-family: $font-stack;
    font-size: 1.4rem;
    color: $gray;
    cursor: pointer;
  }

  .dropdown__arrow {
    width: 16px;
    height: 16px;
    margin-bottom: 2px;
    cursor: pointer;
  }

  .dropdown__menu {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    z-index: 51;
    width: 188px;
    border: 1px solid #666;
    background: #fff;
  }

  .dropdown__menu-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px 10px 10px;
  }

  .dropdown__menu-item {
    width: 50%;
    padding: 5px;
    font-size: 1.3rem;
    color: #111;
  }

  .dropdown__close-button {
    position: absolute;
    right: 11px;
    top: 19px;
    width: 15px;
    height: 15px;
    background: url("../../assets/images/top_dropdown_up.png") no-repeat 50% 50%;
    border: 0;
    cursor: pointer;
  }

  .header-top__right {
    position: relative;
    display: block;
    color: #323b50;
  }

  .header-top__user-menu {
    display: flex;
  }

  .user-menu__item {
    position: relative;
  }

  .user-menu__item-link {
    @include responsive(pc) {
      font-size: 1.3rem;
      color: #323b50;
      padding: 0 10px;
    }
  }

  .user-menu__item:not(:first-child)::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 1px;
    width: 1px;
    height: 12px;
    background-color: #ddd;
  }

  // Header-bottom
  .header-bottom {
    position: relative;
    display: block;
    height: 102px;
    background: #fff;

    @include responsive(tablet) {
      height: 98px;
    }

    @include responsive(pc) {
      height: 74px;
      padding: 0 40px;
    }
  }

  .header-bottom__row {
    justify-content: space-between;
  }

  .header-logo__image {
    width: auto;
    height: 24px;

    @include responsive(tablet) {
      width: auto;
      height: 28px;
    }

    @include responsive(pc) {
      width: auto;
      height: 28px;
    }
  }

  .header-bottom__middle-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;

    @include responsive(tablet) {
      position: static;
      width: auto;
    }

    @include responsive(pc) {
      position: static;
      width: auto;
      height: 100%;
    }
  }

  .header-bottom__middle {
    width: 94%;

    @include responsive(tablet) {
      width: 100%;
    }

    @include responsive(pc) {
      width: 100%;
      height: 100%;
      overflow: unset;
    }
  }

  .gnb-navbar {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    transform: none;
  }

  .navbar-menu__item {
    padding: 0 15px;
    font-family: "OneShinhanMedium";
    font-size: 1.4rem;
    font-weight: 500;
    color: #222;
    word-break: keep-all;
    word-wrap: break-word;
    transform: none;

    @include responsive(tablet) {
      font-size: 1.8rem;
    }

    @include responsive(pc) {
      padding: 0 15px;
      font-size: 2rem;
    }
  }

  .navbar-menu__item-link {
    color: inherit;
    white-space: nowrap;

    @include responsive(pc) {
      line-height: 70px;
    }
  }

  .navbar-menu__item-link:visited {
    color: #222;
  }

  .swiper-button-next1,
  .swiper-button-prev1 {
    position: absolute;
    top: -7px;
    width: 15px;
    height: 30px;
    z-index: 50;
    opacity: 0.5;
    background: url("../../assets/images/btn_gnb_ar.png") no-repeat center
      center;
    background-size: auto 13px;

    @include responsive(tablet) {
      display: none;
    }

    @include responsive(pc) {
      display: none;
    }
  }

  .swiper-button-next1 {
    right: 2px;
  }

  .swiper-button-prev1 {
    left: -2px;
    transform: rotate(-180deg);
  }

  .menu-depth2__wrap {
    display: none;

    @include responsive(pc) {
      position: fixed;
      top: 130px;
      left: 0;
      display: none;
      width: 100%;
      height: calc(100vh - 310px);
      z-index: 100;
      font-family: $font-stack;
      border-top: 5px solid #f4f7fc;
      background: #fff;
      overflow: auto;
    }
  }

  .gnb__dimmer {
    display: none;

    @include responsive(pc) {
      content: "";
      position: fixed;
      top: 130px;
      left: 0;
      display: none;
      z-index: -1;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(5px);
    }
  }

  .menu-depth2 {
    display: none;

    @include responsive(pc) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      max-width: 1080px;
      width: 100%;
      padding: 22px 0;
    }
  }

  .menu-depth2__title {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin: 0 auto;
  }

  .menu-depth2__title-link {
    font-size: 1.8rem;
    font-weight: 900;
    color: #222;
  }

  .menu-depth2__title-icon {
    width: 22px;
    height: 22px;
  }

  .menu-depth2__content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .menu-depth2__list {
    position: relative;
    display: block;
    width: 25%;
    padding: 0 20px;
  }

  .menu-depth2__list-title {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .menu-depth2__link {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    color: #666;
  }

  .menu-button {
    border: 0;
    background: transparent;
    cursor: pointer;
  }

  .menu-button__icon {
    width: 24px;
    height: 24px;

    @include responsive(pc) {
      width: 32px;
      height: 32px;
    }
  }

  .header-bottom__right {
    position: relative;
    display: flex;
  }

  .bottom__right-loginwrap {
    @include responsive(pc) {
      display: none;
    }
  }

  .bottom__right-loginbtn {
    display: block;
    height: 24px;
    padding: 0 8px;
    line-height: 22px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: #fff;

    @include responsive(pc) {
      display: none;
    }
  }

  // 전체메뉴
  .all-menu-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
  }

  .all-menu {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    z-index: 55;
    width: 100vw;
    height: 100vh;
    background: #fff;
    transform: translate(-50%, -50%);

    @include responsive(pc) {
      max-width: 1200px;
      width: 100%;
      height: 768px;
      max-height: 80%;
      padding: 0px 24px;
      border-radius: 12px;
      overflow: hidden;
    }
  }

  // 전체메뉴 header

  .all-menu__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    padding: 0px 24px;
    border-bottom: 5px solid #f4f7fc;

    @include responsive(pc) {
      border: 0;
    }
  }

  .all-menu__title {
    font-size: 2rem;
    line-height: 1;
    font-weight: 900;
  }

  .all-menu__header-list {
    display: flex;
    align-items: center;

    @include responsive(pc) {
      display: none;
    }
  }

  .all-menu__header-link {
    padding: 0 5px;
    font-size: 1.4rem;
  }

  .all-menu__header-item:last-child {
    width: auto;
    padding-left: 16px;
    font-size: 1.4rem;
    background: url("../../assets/images/ico-72-login1.png") left center
      no-repeat;
    background-size: 25px auto;
  }

  .all-menu__login-icon {
    width: 25px;
    height: 25px;
  }

  .all-menu__close-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  // 전체메뉴 nav

  .all-menu__nav-wrap {
    padding: 20px 30px;
  }

  .all-menu__nav {
    position: relative;
    z-index: 13;
  }

  .all-menu__nav-list {
    width: 100%;
    margin: 0 auto;
  }

  .all-menu__nav-item {
    width: auto;
    margin-left: 6px;

    &:first-child {
      margin-left: 0;
    }
  }

  .all-menu__nav-link {
    display: block;
    height: 40px;
    padding: 0px 16px;
    font-size: 1.6rem;
    line-height: 2.4;
    color: #666;
    border-radius: 40px;
    background: #f8f8f8;
  }

  .all-menu__nav-link.active {
    color: #fff;
    font-weight: 600;
    background: #383b5a;
  }

  // 전체메뉴 content

  .all-menu__body-contents {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100% - 106px);
    padding-top: 20px;
    overflow-y: auto;
  }

  .all-menu__contents-title {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0px 30px;
    font-weight: 900;
    font-size: 1.8rem;
    padding-bottom: 25px;
  }

  .all-menu__title__link {
    position: relative;
    padding-right: 18px;
  }

  .all-menu__title-arrow {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background: url("../../assets/images/arr-60-r-a.png") center center
      no-repeat;
    background-size: 100% auto;
  }

  // 전체메뉴 content
  .all-menu__content__wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 12px;
  }

  .all-menu__content {
    position: relative;
    display: block;
    width: 25%;
    padding: 0px 20px;
    margin-bottom: 30px;
    border-right: 1px solid #eee;

    &:nth-child(4) {
      border-right: 0;
    }
  }

  .all-menu__list-title {
    position: relative;
    margin-bottom: 10px;
    font-size: 1.6rem;
    font-weight: bold;
  }

  .all-menu__content__item {
    white-space: nowrap;
  }

  .all-menu__content__link {
    line-height: 22px;
    font-size: 1.4rem;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .hide {
    display: none;
  }
}
