// 반응형 화면 크기
$breakpoints: (
  "tablet": (
    min-width: 768px,
  ),
  "pc": (
    min-width: 1024px,
  ),
);

@mixin responsive($name) {
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  } @else {
    @warn "No value for `#{$name}` could be retrieved from `#{$breakpoints}`";
  }
}

@mixin min-width($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}
@mixin max-width($max-width) {
  @media only screen and (max-width: $max-width) {
    @content;
  }
}
@mixin min-to-max-width($min-width, $max-width) {
  @media only screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}
